/*<body>*/

body {
    color: white;
    height: 100%;

}

h1 {
    font-size: 3.7em;
    font-weight: 800;
    line-height: 70px;
}

p {
    font-size: 1.3em;
    line-height: 30px;
}

.background {
    background-image: url(image/bg01.jpg);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.outer-container {
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
}

/*</body>*/

/*#left-sidebar */

#left-sidebar {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 90%, rgba(0, 0, 0, 0) 100%);
    position: fixed;
    left: 4%;
    width: 17%;
    height: 100%;
    z-index: 1;
}

#left-sidebar img {
    width: 90%;
    margin: 30px 5% 30px 5%;
}

.nav-custom li a {
    color: white;
    line-height: 36px;
    font-size: 1.3em;
    text-decoration: none;
    transition: 3s;
}

.nav-custom li a:hover {
    background-color: rgba(0, 0, 0, 0.29);
}

.active {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.29);
}

/*end: #left-sidebar */

/*#main-content*/

#main-content {

}

#home, #history, #what-we-do, #contacts {
    height: 100vh;
    padding-top: 100px;
}

.btn-custom {
    color: white;
    background-color: transparent;
    border: solid 1px;
    border-radius: 0%;
}

.btn-custom:hover {
    color: black;
    background-color: white;
}

/*end: #main-content*/